{%extends 'base.html'%}
{% load bootstrap3 %}
{% load static %}

{% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/photos.css' %}">
  {% endblock %}

{% block content %}
{{block.super}}

<div class="container">
  <header class="main-header">
    <img class="logo" src="https://res.cloudinary.com/olti/image/upload/v1463520630/camera_nm0spm.svg">
    <h1 class="name">Transform<span>Gallery</span></h1>
  </header>

  <div class="gallery">

    <!-- scale / rotate -->
    <!--looping through photos -->
	{% for photo_item in photos %}
	<div class="photo-container">
      <img src="{{photo_item.photo_image.url}}" alt="Big Sur">
      <h2>{{photo_item.name}}</h2>
      <p>{{photo_item.description}}</p>
      <a href="#" class="button">view image</a>
    </div>
     {% endfor %}
{% endblock %}
